* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

header {
  background: #1f2937;
  padding: 10px 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 140px;
  height: auto;
}

/* Main Menu */
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li {
  position: relative;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 12px 15px;
  display: block;
  transition: 0.3s;
}

/* Change color when mouse moves over the link */
.nav-links li a:hover {
  background: #38bdf8;
  color: #000;
  border-radius: 5px;
}

/* Dropdown Menu (Hidden by default) */
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 180px;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.dropdown li a {
  color: #333;
  padding: 10px;
}

.dropdown li a:hover {
  background: #38bdf8;
  color: white;
}

/* Show dropdown when active */
.dropdown.show {
  display: block;
}
.sec {
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 30px, 30px, 30px, 100px;
      box-shadow: 0 5px 10px rgba(25, 46, 36, 0.2);

}
.content {
  align-items: center;
  margin: 0;
}
.content img {
  width: 400px;
  height: auto;
}
.content h1 {
  font-size: 20px;
  align-content: center;
  margin: 10px;
}
.part1{
    align-content: center;
  justify-content: center;
  align-items: center;
  margin-left:200px;
    margin-right:350px;
    box-shadow: 0 5px 10px rgba(29, 46, 36, 0.2);
}
.part1 h1{
    font-size: 40px;
    font-style: underline;


}
.part2{
  height: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.part2 p{
  font-size: 25px;
    height: auto;
    margin:0,25,0,25px;
  
}
.part2 img{
 width: 400px;
  height: auto;

}
.part3{
      background: #e2dfdf;

  width:auto;
    align-content: center;
  justify-content: center;
  align-items: center;
    box-shadow: 0 5px 10px rgba(29, 46, 36, 0.2);
}
.part4{
    align-content: center;
  justify-content: center;
  align-items: center;
  margin-left:200px;
    margin-right:350px;
   
}
.part5{
  margin:20px;
}
.part5 p{
  font-size: 25px;
}